.cardhead {
  background-color: rgb(40, 41, 64);
  color: #fff;
  padding: 2.5rem 0rem;
  text-align: center;
  font-size: 1.7rem;
}
.cardbody {
  background: #fff;
  padding-bottom: 70px;
}
.cardbutton {
  display: block;
  margin-top: 9px;
  font-size: 17px;
  background: #262737;
  border-radius: 5px;
}
